version: "3.3"

services:
  # API
  api:
    build: ./api
    container_name: api
    environment:
      PORT: 4000
    ports:
      - 4000:4000
    networks:
      - test_net
  # FRONT
  front:
    build: ./front
    container_name: front
    ports:
      - 3000:3000
    networks:
      - test_net
  # NGINX
  nginx:
    image: nginx:1.21.4-alpine
    container_name: nginx
    restart: always
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/nginx.conf
    networks:
      - test_net
    depends_on:
      - api
      - front

networks:
  test_net:
